html {
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: $main-font;
    font-size: font-size(regular);
    line-height: baselines(3);
    min-width: breakpoint(mobile);
    width: 100%;
    min-height: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: flex;
    flex-direction: column;
}

.site-content {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

    &:empty {
        background: colour(grey);
    }
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    color: colour(black);
    text-decoration: none;

    &:hover {
        color: colour(red);
    }
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

@media (max-width: breakpoint(tablet)) {
    .has-open-menu {
        overflow: hidden;
        position: fixed;
    }
}


