.about {
    padding: baselines(8.5) 22px;
}

.about__title {
    font-size: font-size(regular);
    text-transform: uppercase;
    line-height: baselines(4);
    margin-bottom: baselines(2.5);
    text-align: center;
}

.about__content {
    font-size: font-size(small);
    font-weight: 300;
    text-align: center;
}

@media (min-width: breakpoint(tablet)) {
    .about {
        padding: baselines(12) 84px;
    }

    .about__title {
        font-size: font-size(h3);
        line-height: baselines(6);
        margin-bottom: baselines(4);
    }

    .about__content {
        font-size: font-size(regular);
        line-height: baselines(4);
    }
}
