$contact-padding: 10px;
$contact-padding-tablet: 74px;

.contact {
    background: url(../imgs/feed-bg.jpg) no-repeat top center;
    background-size: cover;
    padding: baselines(8.5) $contact-padding baselines(14) $contact-padding;
}

.contact-form {
    max-width: 620px;
    margin: 0 auto;
}

.contact-form__cta {
    text-align: center;
    color: #fff;
    margin-bottom: baselines(4);
    font-size: font-size(regular);
    text-transform: uppercase;
    line-height: baselines(4);
}

.contact-form__inputs {
    background: rgba(255,255,255,0.2);
    padding: baselines(3) $contact-padding;;
    margin: 0 ($contact-padding * -1) baselines(3) ($contact-padding * -1);
}

.contact-form__label {
    display: block;
    margin-bottom: baselines(1);
    position: relative;
    clear: both;
}

.contact-form__label--textarea {
    top: baselines(2);
    margin-bottom: baselines(2);
}

.contact-form__label--invalid {
    .contact-form__input-warning {
        display: block;
    }
}

.contact-form__label--valid {
    &:after {
        font-family: 'tamtam-icons';
        content: '\e904';
        position: absolute;
        color: colour(green);
        top: 0;
        right: 0;
        font-size: 50px;
        height: 50px;
        width: 50px;
        display: block;
        line-height: 1;
    }
}

.contact-form__input {
    font-family: $main-font;
    border: 0;
    background: #fff;
    height: baselines(7);
    width: 100%;
    padding: baselines(3);
    font-weight: 300;
    font-size: font-size(small-alt);
    border-radius: 0;
}

.contact-form__input--textarea {
    height: baselines(17);
}

.contact-form__button {
    background: colour(red);
    border: 0;
    border-radius: 40px;
    height: 40px;
    width: 150px;
    font-size: font-size(small);
    color: #fff;
    line-height: baselines(3);
    margin: 0 auto;
    display: block;
}

.form-message {
    background: rgba(0,0,0, 0.2);
    display: table;
    padding: baselines(3) $contact-padding;;
    margin: 0 ($contact-padding * -1);
    display: none;
}

.form-message__error,
.form-message__success {
    display: none;
}

.form-message__icon {
    display: table-cell;
    color: #fff;
    vertical-align: top;

    .i {
        border-radius: 100%;
        display: block;
        background: rgba(0,0,0, 0.2);
        width: 30px;
        height: 30px;
        font-size: 30px;
    }
}

.form-message__text {
    vertical-align: middle;
    display: table-cell;
    font-size: font-size(small-alt);
    color: #fff;
    text-align: left;
    width: 100%;
    padding-left: 15px;
}

.contact-form__input-warning {
    background: colour(grey);
    padding: baselines(1.5) baselines(3);
    font-size: font-size(small);
    color: #fff;
    font-weight: 300;
    position: relative;
    vertical-align: middle;
    display: none;

    &:before {
        $height: 10px;
        $proportion: 8px;

        position: absolute;
        top: $height * -1;
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-left: $proportion solid transparent;
        border-right: $proportion solid transparent;
        border-bottom: $height solid colour(grey);
    }

}

.contact-form--invalid {
    .form-message,
    .form-message__error {
        display: block;
    }
}

.contact-form--valid {
    .form-message,
    .form-message__success {
        display: block;
    }
}


@media (min-width: breakpoint(tablet)) {
    .contact {
        padding: baselines(8.5) $contact-padding-tablet baselines(14) $contact-padding-tablet;
    }

    .contact-form__cta {
        font-size: font-size(regular-alt);
        line-height: baselines(5);
        max-width: 300px;
        margin: 0 auto baselines(7) auto;
    }

    .contact-form__fieldset {
         float: left;
         padding-right: 10px;
         width: 50%;
    }

    .contact-form__inputs {
        margin: 0 0 baselines(6) 0;
    }

    .form-message {
        margin: 0;
        width: 100%;
    }
}

@media (min-width: breakpoint(desktop)) {
    .contact-form__cta {
        font-size: font-size(contact-cta);
        line-height: baselines(7);
        max-width: 400px;
        margin: 0 auto baselines(7.5) auto;
    }
}
