.site-header {
    background: colour(black);
    width: 100%;
    height: 60px;
}

.site-header__logo {
    color: #fff;
    width: 100%;
    text-align: center;

    .i {
        line-height: 60px;
        vertical-align: middle;
        font-size: 40px;
    }
}
