$header-height: baselines(8.5);
$header-height-tablet: baselines(11.5);
$header-padding: 20px;
$header-padding-tablet: 23px;

.site-header {
    background: colour(black);
    width: 100%;
    height: $header-height;
    padding: 0 $header-padding;
    position: relative;
    z-index: 1;
}

.site-header__logo {
    color: #fff;
    width: 100%;
    text-align: center;

    .i {
        line-height: $header-height;
        vertical-align: middle;
        font-size: 32px;
    }
}

.is-loading .site-header__logo .i {
    display: inline-block;
     @include animation(loading 500ms ease infinite);
}

@media (min-width: breakpoint(tablet)) {
    .site-header {
        height: $header-height-tablet;
        padding-left: $header-padding-tablet;
    }

    .site-header__logo {
        display: inline;
        width: auto;
        margin-right: 27px;

        .i {
            font-size: 47px;
            line-height: $header-height-tablet;
        }
    }
}

@include keyframes(loading) {
    0% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(360deg);
    }
}
