$header-height: baselines(8.5);

.site-header {
    background: colour(black);
    width: 100%;
    height: $header-height;
}

.site-header__logo {
    color: #fff;
    width: 100%;
    text-align: center;

    .i {
        line-height: $header-height;
        vertical-align: middle;
        font-size: 40px;
    }
}


@media (min-width: breakpoint(tablet)) {
    .site-header__logo {
        display: inline;
        width: auto;
    }
}
