.site-nav {
    position: absolute;
    top: 0;
    left: $header-padding;
}

.site-nav__items {
    position: fixed;
    top: 60px;
    left: 0;
    border-top: 2px solid #fff;
    bottom: 0;
    background: black;
    width: 100%;
    padding-top: baselines(6);
    display: none;
    z-index: 1;
}

.site-nav--visible {
    .site-nav__items {
        display: block;
    }

    .i:before {
        content: "\e905";
    }
}

.site-nav__toggle {
    -webkit-appearance: none;
    border-radius: 0;
    border: 0;
    background: none;
    font-size: 44px;
    color: #fff;
    line-height: $header-height;
    vertical-align: middle;
    cursor: pointer;
    padding: 0;
    //XXX: magic number due to the padding around the icon file
    margin-left: -10px;

    &:focus {
        outline: 0;
    }
}

.nav-item {
    width: 100%;
    text-align: center;
    height: baselines(12);
}

.nav-item__link {
    color: #fff;
    font-size: font-size(h3);
}

@media (min-width: breakpoint(tablet)) {
    .site-nav {
        position: static;
        display: inline;
    }

    .site-nav__toggle {
        display: none;
    }

    .site-nav--visible .site-nav__items,
    .site-nav__items {
        position: static;
        display: inline;
        border-top: 0;
        padding-top: 0;
    }

    .nav-item {
        display: inline;
        height: auto;
        margin-right: 40px;
    }

    .nav-item__link {
        font-size: font-size(small-alt);
        font-weight: 400;
        color: colour(lightgrey);

        &:hover {
            color: #fff;
        }
    }
}
