/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import 'https://fonts.googleapis.com/css?family=Lato:300,400,400i,900';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'tamtam-icons';
  src: url("../icons/tamtam-icons.ttf?a224b9") format("truetype"), url("../icons/tamtam-icons.woff?a224b9") format("woff"), url("../icons/tamtam-icons.svg?a224b9#tamtam-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

.i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tamtam-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.i--scroll:before {
  content: "\e900"; }

.i--arrow_down:before {
  content: "\e901"; }

.i--arrow-left:before {
  content: "\e902"; }

.i--arrow-right:before {
  content: "\e903"; }

.i--check:before {
  content: "\e904"; }

.i--close:before {
  content: "\e905"; }

.i--error:before {
  content: "\e906"; }

.i--facebook:before {
  content: "\e907"; }

.i--instagram:before {
  content: "\e908"; }

.i--logo:before {
  content: "\e909"; }

.i--menu:before {
  content: "\e90a"; }

.i--mouse:before {
  content: "\e90b"; }

.i--twitter:before {
  content: "\e90c"; }

html {
  box-sizing: border-box;
  height: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 21px;
  min-width: 320px;
  height: 100%;
  -webkit-tap-highlight-color: transparent; }

img {
  display: block;
  width: 100%;
  height: auto; }

a {
  color: #000;
  text-decoration: none; }
  a:hover {
    color: #fd5454; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

@media (max-width: 768px) {
  .has-open-menu {
    overflow: hidden;
    position: fixed; } }

.site-header {
  background: #000;
  width: 100%;
  height: 59.5px;
  padding-left: 20px; }

.site-header__logo {
  color: #fff;
  width: 100%;
  text-align: center; }
  .site-header__logo .i {
    line-height: 59.5px;
    vertical-align: middle;
    font-size: 32px; }

@media (min-width: 768px) {
  .site-header {
    height: 80.5px;
    padding-left: 30px; }
  .site-header__logo {
    display: inline;
    width: auto;
    margin-right: 30px; }
    .site-header__logo .i {
      font-size: 40px;
      line-height: 80.5px; } }

.site-nav {
  position: absolute;
  top: 0;
  left: 20px; }

.site-nav__items {
  position: fixed;
  top: 60px;
  left: 0;
  border-top: 2px solid #fff;
  bottom: 0;
  background: black;
  width: 100%;
  padding-top: 42px;
  display: none;
  z-index: 1; }

.site-nav--visible .site-nav__items {
  display: block; }

.site-nav--visible .i:before {
  content: "\e905"; }

.site-nav__toggle {
  -webkit-appearance: none;
  border-radius: 0;
  border: 0;
  background: none;
  font-size: 44px;
  color: #fff;
  line-height: 59.5px;
  vertical-align: middle;
  cursor: pointer;
  padding: 0;
  margin-left: -10px; }
  .site-nav__toggle:focus {
    outline: 0; }

.nav-item {
  width: 100%;
  text-align: center;
  height: 84px; }

.nav-item__link {
  color: #fff;
  font-size: 30px; }

@media (min-width: 768px) {
  .site-nav {
    position: static;
    display: inline; }
  .site-nav__toggle {
    display: none; }
  .site-nav--visible .site-nav__items,
  .site-nav__items {
    position: static;
    display: inline;
    border-top: 0;
    padding-top: 0; }
  .nav-item {
    display: inline;
    height: auto;
    margin-right: 40px; }
  .nav-item__link {
    font-size: 17.5px;
    font-weight: 400;
    color: #8e8e8e; }
    .nav-item__link:hover {
      color: #fff; } }

.site-section--full {
  height: 100%; }

.hero {
  margin-top: -59.5px;
  padding-top: 59.5px;
  height: 100%; }

.hero__slider {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%; }

.cases {
  width: 100%;
  height: 100%;
  position: relative; }

.case {
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 28px; }
  .case:last-child {
    margin-bottom: 0; }

.case__info {
  position: absolute;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 40px; }

.case__title {
  font-size: 30px;
  top: -65px;
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1; }

.case__link {
  font-size: 15px;
  color: #fff;
  background: #000;
  border-radius: 40px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  width: 150px;
  display: block;
  margin: 0 auto; }

.case__figure {
  width: 100%;
  height: 100%; }

.case__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 45% 50%;
     object-position: 45% 50%; }

.hero__scroll-anchor {
  background: #fff;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 14px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 40px; }

.hero__slider--active {
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  white-space: nowrap; }
  .hero__slider--active .cases {
    display: inline-block; }
  .hero__slider--active .case {
    display: inline-block; }
    .hero__slider--active .case:last-child {
      margin-bottom: 28px; }

.slider-nav {
  width: 270px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -135px; }

.slider-nav__button {
  border: 0;
  -webkit-appearance: none;
  background: #000;
  border-radius: 100%;
  color: #fff;
  width: 40px;
  height: 40px;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 9px; }
  .slider-nav__button .i {
    font-size: 40px; }
  .slider-nav__button:focus {
    outline: 0; }

.slider-nav__button--next {
  right: 0; }

@media (min-width: 768px) {
  .hero {
    margin-top: -80.5px;
    padding-top: 80.5px; }
  .slider-nav__button {
    top: 20px; }
  .case__title {
    font-size: 40px;
    top: -82px; } }

@media (min-width: 1024px) {
  .case__title {
    font-size: 50px;
    top: -99px; }
  .case__link:hover {
    background: #fd5454;
    color: #fff; }
  .slider-nav__button:hover {
    background: #fd5454; }
  .hero__scroll-anchor {
    height: 54px;
    width: 54px;
    position: absolute;
    bottom: 35px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 50px;
    line-height: 54px;
    vertical-align: middle; }
    .hero__scroll-anchor .i {
      text-align: center; }
    .hero__scroll-anchor .i:before {
      content: "\e90b";
      display: block; }
    .hero__scroll-anchor .i:after {
      display: block;
      content: "\e901";
      font-size: 40px;
      color: #fff; } }

.about {
  padding: 59.5px 22px;
  max-width: 940px;
  margin: 0 auto; }

.about__title {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 28px;
  margin-bottom: 17.5px;
  text-align: center; }

.about__content {
  font-size: 15px;
  font-weight: 300;
  text-align: center; }

@media (min-width: 768px) {
  .about {
    padding: 84px 84px; }
  .about__title {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 28px; }
  .about__content {
    font-size: 20px;
    line-height: 28px; } }

@media (min-width: 1024px) {
  .about {
    padding: 84px 42px; }
  .about__content {
    font-size: 23.75px;
    line-height: 35px; } }

@media (min-width: 1440px) {
  .about {
    padding: 98px 0; } }

.feed {
  background: url(../imgs/feed-bg.jpg) no-repeat top center;
  background-size: auto 100%;
  padding: 59.5px 22px; }

.feed__header {
  margin-bottom: 28px; }

.feed__cta {
  font-size: 20px;
  color: #789199;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 14px; }

.feed__link {
  color: #fff;
  text-align: center;
  display: block;
  font-weight: 300;
  font-size: 20px; }

.pics {
  max-width: 940px;
  margin: 0 auto; }

.pic {
  margin-bottom: 21px; }

.pic__caption {
  background: #fff;
  padding: 14px 21px;
  font-size: 15px;
  color: #76797f; }

@media (min-width: 768px) {
  .feed {
    padding: 84px 84px;
    background-size: cover; }
  .feed__cta {
    font-size: 30px;
    margin-bottom: 21px; }
  .feed__link {
    font-size: 30px; }
  .pics__list {
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2;
    -webkit-column-fill: auto;
       -moz-column-fill: auto;
            column-fill: auto; }
  .pic {
    -webkit-column-break-inside: avoid;
       page-break-inside: avoid;
            break-inside: avoid;
    display: inline-block; } }

@media (min-width: 1024px) {
  .feed {
    padding: 84px 42px; }
  .pics__list {
    -webkit-columns: 3;
       -moz-columns: 3;
            columns: 3; } }

@media (min-width: 1440px) {
  .feed {
    padding: 98px 42px; }
  .feed__header {
    margin-bottom: 49px; } }

.site-footer {
  padding: 42px 21px;
  background: #000; }

.social-networks {
  text-align: center; }

.social-network {
  display: inline-block; }
  .social-network .i {
    font-size: 44px; }

.social-network__link {
  color: #fff; }
